<!DOCTYPE html>
<html>
    <head>
        <title>Simple Stack</title>
        <script src="//d3js.org/d3.v2.js"></script>  
        <link href='//fonts.googleapis.com/css?family=Roboto:200,300,500,700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>   
        <link href='../css/rocket.css' rel='stylesheet' type='text/css'>       
    </head>
    <body>
        <div id="viz"></div>

        <!-- scripts -->
        <script src='http://www.numericjs.com/lib/numeric-1.2.6.js'></script>
        <script src='../js/rocket.js'></script>
    </body>
</html>
