html,body{
    font-family: 'roboto', sans-serif;
}
h1{
    font-weight: 100;
    font-size: 60px;
    color:#666;
}
h2{

}

/* COLORS */
.clr-data:before{
    background-color: #ddfd02;
}
.clr-code:before{
    background-color: #0188ba;
}
.clr-business:before{
    background-color: #ccc;
}
.clr-design:before{
    background-color: #07904e;
}
.clr-art:before{
    background-color: #421789;
}

/*//////////*/

.container{
    max-width: 1240px;
    margin:0 auto;
    position:relative;
}
.nameplate{
    position: absolute;
    top:0;
    left: -26px;
}
    .nameplate .name{
        margin-bottom: 0;
        margin-top:0;
    }
    .nameplate .email{
        margin-top: -5px;
        margin-left: 3PX;
        font-size: 30.2px;
        margin-bottom: 0;
        font-weight: 100;
        color: #999;
    }
    .nameplate .byline{
        margin-top: -5px;
        margin-left: 6px;
        font-weight: 600;
        font-size: 20px;
        color: #666;
    }
    .nameplate .plus{
        font-weight: 100;
        font-size: 24px;
    }

ul.legend{
    list-style: none;
    margin: 45px 5px;
    padding:0;
}    

.legend li{
    font-size: 18px;
    font-weight: 300;
    color:#666;
}
.legend li:before{
    content: "";
    display: inline-block;
    width:25px;
    height:15px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    margin-right:10px;
}

#viz{

}
svg{
    /* border: 1px solid #333;  */ 
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}
.chart{
    overflow: visible;
}
.dategroup{
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
}
.annotaion p{
    margin:0;
    text-align: center;
}
.annotaion p span{
    background: #fff;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.annotaion p:nth-of-type(1) span{
    padding-top: 5px;
}
.company-name{
    font-size: 16px;
    font-weight: 100;
    color:#787878;
}
.job-title{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}